// FONTS.
$tahoma: Tahoma, Arial, sans-serif;

// COLORS.
$white: #fff;
$black: #000;
$gunsmoke: #8c8d8d;
$mine: #333;
$tundora: #444;
$emperor: #555;
$dusty: #999;
$alto: #ddd;
$oslo: #939494;
$concrete: #f3f3f3;
$orange: #eb4200;
$sun: #ff4700;

// COLORS BY ELEMENTS.
$nav: $mine;
$nav-item-active: $sun;
$nav-item-expanded: $gunsmoke;
$sub-nav-bg: $gunsmoke;
$lang-bg: $gunsmoke;
$content-bg: $concrete;
$footer: $oslo;

// LAYOUT.
$container: 1140px;

// TIMERS.
$fast-animation-time: .1s;
$short-animation-time: .2s;
$default-animation-time: .4s;

// ANIMATION FUNCTIONS.
$linear: linear;
$ease: ease;

// BREAK-POINTS.
$mobile-land: 480px;
$tablet: 768px;
$tablet-land: 1024px;
$desktop: 1140px;

// Z-INDEXES.
$parallax-bg: -2;
$under-content: -1;
$content: 0;
$subnav: 3;
$image-overlay: 4;
$overlay: 5;
$modal: 10;