// VARIABLES.
@import 'variables';

// HELPERS ADN MIXINS.
@import 'mixins';

// NORMALIZE.
@import 'vendor/normalize';

// GLOBAL DEFINITIONS.
@import 'partials/global';

// LAYOUTS.
@import 'partials/layout/container';
@import 'partials/layout/header';

// COMPONENTS.
@import 'partials/components/logo';
@import 'partials/components/link';
@import 'partials/components/navigation';
@import 'partials/components/language-switch';

// ANIMATIONS.
@import 'animations';

.banner {
  height: 523px;

  &_parallax {
    position: relative;

    &__background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('../images/banner-bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 0 center;
      background-size: cover;
      z-index: $under-content;
    }
  }
}
