.about {
  padding: 40px 0 10px;

  @media all and (min-width: $desktop) {
    padding: 62px 0 42px;
  }

  &__title,
  &__text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }

  &__title {
    margin: 0 0 5px;
    color: $tundora;
  }

  &__text {
    margin: 0 0 30px;
    color: $dusty;
  }
}