.credentials {
  display: block;
  font-size: 11px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  color: $salto;

  @media all and (min-width: $tablet) {
    display: inline;
    text-align: left;
  }

  &:hover,
  &:focus {
    color: $sun;
  }

  @media all and (min-width: $tablet) {
    &_design {
      float: left;
    }

    &_copyright {
      float: right;
    }
  }
  

  &__logo,
  &__text {
    display: inline-block;
    vertical-align: top;
  }

  &__logo {
    padding-top: 11px;
  }

  &__text {
    margin: 0;
  }
}