.credentials {
  font-size: 11px;
  line-height: 35px;
  text-decoration: none;
  color: $salto;

  &:hover,
  &:focus {
    color: $sun;
  }

  &_design {
    float: left;
  }

  &_copyright {
    float: right;
  }

  &__logo,
  &__text {
    display: inline-block;
    vertical-align: top;
  }

  &__logo {
    padding-top: 11px;
  }

  &__text {
    margin: 0;
  }
}