.mobile-nav-switch {
  width: 40px;
  height: 40px;
  margin-left: 5%;
  position: relative;

  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 22%;    
    width: 68%;
    height: 4px;
    transition: all $short-animation-time $linear;
    will-change: transform;    
  }

  &:after {
    top: 12px;
    background: $emperor;
    box-shadow: 0 7px 0 0 $emperor, 0 14px 0 0 $emperor;
  }

  &:before {
    top: 18px;
    background: transparent;
    transform: rotate(-45deg);
  }

  &.opened {

    &:after {
      top: 18px;
      box-shadow: 0 0 0 0 $emperor, 0 0 0 0 $emperor;
      transform: rotate(45deg);
    }

    &:before {
      background: $emperor;      
    }    

    & ~ .nav__item {
      height: 40px;
      transform: rotateX(0);
      opacity: 1;

      @media all and (min-width: $mobile-land) {
        height: initial;
        transform: none;
        opacity: initial;
      }
    }
  }

  @media all and (min-width: $mobile-land) {
    display: none;
  }
}

.nav {
  display: inline-block;
  vertical-align: top;

  &_main {     
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;     

    @media all and (min-width: $mobile-land) {
      position: static;
      border-top: 1px solid $alto;      
      border-left: 1px solid $alto;
      border-right: 1px solid $alto;
    }

    @media all and (min-width: $tablet) {
      width: 90%;
      border-right: 0;
    }

    @media all and (min-width: $tablet-land) {
      width: 864px;
      max-width: 70%;
      border: 0;
    }

    .nav__item {
      width: 100%;
      height: 0;
      line-height: 40px;
      text-align: center;
      color: $mine;
      background-color: $white;
      border-bottom: 2px solid $white;
      transform: rotateX(-90deg);
      opacity: 0;
      will-change: transform, opacity, height;

      &:nth-child(2) {
        border-top: 1px solid $alto;
      }

      &:last-of-type {
        border-bottom: 1px solid $alto;
      }

      @media all and (min-width: $mobile-land) {
        width: 20%;
        height: auto;
        line-height: 50px;
        transform: none;
        opacity: initial;
        will-change: initial;

        &:nth-child(2) {
          border-top: 0;
        }

        &:last-of-type {
          border-bottom: 0;
        }
      }

      @media all and (min-width: $tablet) {
        line-height: 71px;
      }

      @media all and (min-width: $tablet-land) {
        width: auto;
        margin-left: 30px;
        padding: 0 12px;

        &:first-child {
          margin-left: 0;
        }
      }

      &:hover,
      &:focus,
      &_active {
        color: $nav-item-active;
        border-color: $nav-item-active;
      }

      &_expandable {
        position: relative;
        
        @media all and (min-width: $desktop) {
          &:after {
            content: '';
            display: none;
            position: absolute;
            top: 0;
            left: -50%;
            width: 200%;
            height: 100%;
          }
        }        

        &:hover,
        &:focus,
        &.nav__item_expanded {
          color: $white;
          border-color: $nav-item-expanded;
          background:  $nav-item-expanded;

          &:after {
            display: block;
          }

          @media all and (min-width: $desktop) {
            & + .subnav {
              opacity: 1;
              transform: rotateY(0);

              .subnav__item {
                opacity: 1;
                transform: translateX(0);

                &:first-of-type {
                  transition-delay: $default-animation-time;
                }

                @for $index from 2 through 10 {
                  &:nth-of-type(#{$index}) {
                    transition-delay: $default-animation-time + ($fast-animation-time * ($index - 1));
                  }
                }
              }
            }
          }
        }

        &.nav__item_expanded {
          color: $white;
          border-color: $nav-item-expanded;
          background:  $nav-item-expanded;

          &:after {
            display: block;
          }

          & + .subnav {
            opacity: 1;
            transform: rotateY(0);

            .subnav__item {
              opacity: 1;
              transform: translateX(0);

              &:first-of-type {
                transition-delay: $default-animation-time;
              }

              @for $index from 2 through 10 {
                &:nth-of-type(#{$index}) {
                  transition-delay: $default-animation-time + ($fast-animation-time * ($index - 1));
                }
              }
            }
          }
        }
      }
    }
  }

  &_secondary {
    font-size: 0;

    .nav__item {
      width: 48%;
      height: 40px;
      margin: 0 0 5px 5px;
      font-weight: 700;
      line-height: 40px;
      text-align: center;
      color: $mine;
      background: $white;

      @media all and (min-width: $mobile-land) {
        width: 32%;
      }

      @media all and (min-width: $tablet) {
        height: 51px;
        line-height: 51px;
      }

      @media all and (min-width: $desktop) {
        width: 189px;
        margin: 0 0 0 1px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:hover,
      &:focus {
        background: $sun;
        color: $white;
      }
    }
  }

  &_footer {
    width: 100%;
    text-align: center;
    font-size: 0;
    border: 1px solid $chalise;

    @media all and (min-width: $tablet) {
      width: 70%;
      text-align: right;
      border-top: 0;
      border-left: 0;
    }

    @media all and (min-width: $tablet-land) {
      width: 75%;
    }

    @media all and (min-width: $desktop) {
      width: auto;
      text-align: inherit;
      border: 0;
    }

    .nav__item {
      line-height: 40px;
      padding: 0 12px;
      margin-left: 12px;
      color: $white;
      background: $footer;

      @media all and (min-width: $tablet) {
        line-height: 73px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:hover,
      &:focus {
        color: $footer;
        background: $white;
      }
    }
  }

  &__title {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: $white;
    text-shadow: 0 1px 3px rgba($black, .35);
    position: relative;

    @media all and (min-width: $tablet) {
      margin-bottom: 22px;
      font-size: 14px;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 6px;
      width: 1000px;
      height: 1px;
      background: rgba($white, .3);
    }

    &:before {
      left: calc(100% + 20px);
    }

    &:after {
      right: calc(100% + 20px);
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;

    @media all and (min-width: $tablet) {
      font-size: 13px;
    }
  }
}

.subnav {
  padding: 20px 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 81px;
  z-index: $subnav;
  text-align: left;
  opacity: 0;
  transform: rotateX(-90deg) ;
  transform-origin: 0 0 0;
  transform-style: preserve-3d;
  transition: all $default-animation-time $ease;
  will-change: opacity, transform;
  background: $sub-nav-bg;

  @media all and (min-width: $mobile-land) {
    top: 100%;
  }

  @media all and (min-width: $desktop) {
    padding: 26px 0 33px;
  }

  &:hover {
    opacity: 1;
    transform: rotateY(0);
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    opacity: 0;
    transform: translateX(-20px);
    transition: all $fast-animation-time $linear;
    will-change: opacity, transform;

    @media all and (min-width: $mobile-land) {
      width: 33.33%;
    }

    @media all and (min-width: $tablet) {
      width: 25%;
    }

    @media all and (min-width: $desktop) {
      width: 117px;
      margin: 0 0 0 29px;
      text-align: left;

      &:first-child {
        margin-left: 0;
      }
    }

    &:hover,
    &:focus {
      & .subnav__item__image-wrapper:after {
        background: rgba($black, .75);
      }

      & .subnav__item__title {
        text-align: center;
        animation-name: subnavTitle;
        animation-duration: $default-animation-time;
        animation-direction: alternate;
        animation-fill-mode: forwards;
      }
    }

    &__image-wrapper {
      display: inline-block;
      vertical-align: top;
      max-height: 117px;
      margin-bottom: 5px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all $default-animation-time $linear;
        background: rgba($black, 0);
      }
    }

    &__title {
      max-width: 98%;
      margin-bottom: 0;
      font-size: 11px;
      font-weight: 400;
      white-space: normal;
      color: $white;
      z-index: $image-overlay;
      will-change: transform, opacity;

      @media all and (min-width: $tablet) {
        font-size: 12px;
      }

      @media all and (min-width: $desktop) {
        font-size: 14px;
      }
    }
  }
}